/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap'); */

/* body {
    font-family: 'Josefin Sans', sans-serif;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------headerはここに------ */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
    background-color: #539D8B;
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%
}

.header-logo {
    cursor: pointer;
    width: 200px;
}

.nav-bar {
    list-style-type: none;
}

.nav-bar li {
    display: inline;
    padding: 0px 10px;
}

.nav-bar li a {
    text-decoration: none;
    color: #edf0f1;
}

.nav-bar a:hover {
    font-weight: bold;
}

.toggle span {
    display: none;
}

.toggle span:hover {
    font-weight: bold;
}

.featured-img {
    width: 100%;
    max-width: 150px;
    object-fit: cover;
    object-position: center;
}

/* ------mainはここから------ */
.container-column {
    display: flex;
    flex-direction: column;
}

#beranda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 1000px; */
}

.beranda-logo {
    cursor: pointer;
    width: 500px;
    /* padding-left: 20px;
    padding-top: 20px; */
}

.beranda-info {
    text-align: left;
    font-size: 15px;
}

#produk {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    align-items: center;
}
.produk-info {
    font-size: 25px;
}
.container-row {
    display: flex;
    align-items: center;
    padding-top: 80px;
}

.manga-img {
    width: 100%;
    max-width: 200px;
    object-fit: cover;
    padding-top: 50px;
    object-position: center;
}

.LN-img {
    width: 100%;
    max-width: 200px;
    object-fit: cover;
    padding-top: 50px;
    object-position: center;
}

h3 {
    padding-top: 50px;
}

.manga-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
    width: fit-content;
    background-color: #539D8B;
}

.LN-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
    text-align: center;
    width: fit-content;
    background-color: #539D8B;

}

aside {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tabel-manga,
.tabel-LN {
    text-align: justify;
}
#tentang{
    text-align: center;
    /* height: 1000px; */
    margin-top: 20px;
}
.fig{
    width: 100%;
    max-width: 500px;
}

footer {
    background-color: pink;
}

@media screen and (max-width: 1000px) {

    .header-logo {
        width: 150px;
    }

    .nav-bar {
        width: 100%;
    }

    #beranda {
        display: block;
        align-items: center;
    }

    .beranda-logo {
        width: 100%;
    }

    .container-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: -100%;
        top: 100px;
        gap: 0;
        background-color: #539D8B;
        width: 100%;
        transition: 0.3s;
        text-align: left;
    }

    .nav-bar li {
        margin: 16px 0;
    }

    .nav-bar.active {
        right: 0;

    }

    .toggle span {
        color: #edf0f1;
        font-size: 30px;
        cursor: pointer;
        padding-right: 0px;
        display: contents;
    }

}